<%= @game.turn.name%> attacked <%= @game.not_turn.name%>

<%= @game.not_turn.name + '\'s'%> hit points remaining: <%= @game.not_turn.hit_points%>

<form action="/turn_switch" method="post">
  <input type="submit" value="OK">
</form>
