<div>
  <%= "#{@game.player1.name} vs #{@game.player2.name}!" %>
</div>

<div>
  <%= "#{@game.player1.name} hit points: #{@game.player1.hit_points}" %>
</div>

<div>
  <%= "#{@game.player2.name} hit points: #{@game.player2.hit_points}" %>
</div>

<div>
  <a id="attack" href="/attack">Attack</a>
</div>
